# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build

# Testing
coverage
.playwright

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore
